<div class="shippingAddress">
    <div class="row">
        <input id="id" type="hidden" value="" name="id">
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label for="name">Denominazione Inidirzzo</label>
                <input id="name" autocomplete="off" type="text"
                       class="form-control"
                       name="name" value=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label for="subject">Destinatario</label>
                <input id="subject" autocomplete="off" type="text"
                       class="form-control"
                       name="subject" value=""/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label for="address">Indirizzo</label>
                <input id="address" autocomplete="off" type="text"
                       class="form-control"
                       name="address" value=""/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label for="extra">Indirizzo 2</label>
                <input id="extra" autocomplete="off" type="text"
                       class="form-control"
                       name="extra" value=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label for="city">City</label>
                <input id="city" autocomplete="off" type="text"
                       class="form-control"
                       name="city" value=""/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default">
                <label for="postcode">Postcode</label>
                <input id="postcode" autocomplete="off" type="text"
                       class="form-control"
                       name="postcode" value=""/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-group-default">
                <label for="province">Provincia</label>
                <input id="province" autocomplete="off" type="text"
                       class="form-control" maxlength="2"
                       name="province" value=""/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-default selectize-enabled required">
                <label for="country">Paese</label>
                <select id="country"
                        name="country"
                        class="full-width selectpicker"
                        placeholder="Seleziona il Paese">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label for="shop_billing_phone">Telefono</label>
                <input id="shop_billing_phone" autocomplete="off" type="text"
                       class="form-control"
                       name="shop_billing_phone" value=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label for="cellphone">Cellulare</label>
                <input id="cellphone" autocomplete="off" type="text"
                       class="form-control"
                       name="cellphone" value=""/>
            </div>
        </div>
    </div>
</div>