<div class="panel panel-default clearfix">
    <div class="widget-9 panel no-border no-margin widget-loader-bar">
        <div class="container-xs-height full-height">
            <div class="row-xs-height">
                <div class="col-xs-height col-top">
                    <div class="panel-heading top-left top-right">
                        <div class="panel-title text-black">
                        <span class="font-montserrat fs-11 all-caps">{{campaignName}} <i
                                class="fa fa-chevron-right"></i> {{title}}</span>
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
                                        class="portlet-icon portlet-icon-refresh"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-xs-height">
                <div class="col-xs-height col-top">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="p-l-20 p-t-15">
                                <p>Visite</p>
                                <h4 class="no-margin p-b-5">{{visite}}</h4>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="p-l-20 p-t-15">
                                <p>Costo</p>
                                <h4 class="no-margin p-b-5">&euro; {{costo}}</h4>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="p-l-20 p-t-15">
                                <p>Ordini</p>
                                <h4 class="no-margin p-b-5">{{ordini}}</h4>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="p-l-20 p-t-15">
                                <p>Incasso</p>
                                <h4 class="no-margin p-b-5">&euro; {{incasso}}</h4>
                            </div>
                        </div>
                        <br style="clear:both"/>
                        <a href="#" class="btn-circle-arrow text-black"><i class="{{trend}}"></i></a>
                        <span class="hint-text">CPO: {{cpo}}</span> /
                        <span class="hint-text">ROI: {{roi}}</span> /
                        <span class="hint-text">CRB (Conversion Rate Basics): {{crb}}</span>
                    </div>
                </div>
            </div>
            <div class="row-xs-height">
                <div class="col-xs-height col-bottom">
                    <div class="progress progress-small m-b-20">
                        <div class="progress-bar progress-bar-black" data-percentage="{{elapsed}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>