<div class="widget-11 panel no-border  no-margin widget-loader-bar">
    <div class="widget-11-table">
        <table class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-left">
                        Categoria
                    </th>
                    <th class="text-right">
                        Visite
                    </th>
                    <th class="text-right">
                        Costo
                    </th>
                    <th class="text-right">
                        Ordini
                    </th>
                    <th class="text-right">
                        Di Cui Ordini Esatti
                    </th>
                    <th class="text-right">
                        Valore Ordini
                    </th>
                    <th class="text-right">
                        Di Cui Valore Ordini Esatti
                    </th>
                    <th class="text-right">
                        CPO
                    </th>
                    <th class="text-right">
                        CPOE
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="">
                    <span class="hint-text small">{{category}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{visits}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{cost}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{orders}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrders}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{ordersValue}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrdersValue}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrdersValue}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrdersValue}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{cpo}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{cpoe}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>