<div class="widget-11 panel no-border  no-margin widget-loader-bar">
    <div class="widget-11-table">
        <table class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Visite
                    </th>
                    <th>
                        Costo
                    </th>
                    <th>
                        Ordini
                    </th>
                    <th>
                        Valore Ordini
                    </th>
                    <th>
                        Ordini Esatti
                    </th>
                    <th>
                        Valore Ordini Esatti
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="">
                    <span class="hint-text small">{{category}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{visits}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{cost}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{orders}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{ordersValue}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrders}}</span>
                </td>
                <td class="text-right b-r b-dashed b-grey">
                    <span class="hint-text small">{{exactOrdersValue}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="padding-25">
        <p class="small no-margin">
            <a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i>
            <span class="hint-text ">Show more details of APPLE . INC</span></a>
        </p>
    </div>
</div>