<div class="row clearfix">
    <div class="col-sm-6">
        <div class="form-group form-group-default required">
            <label for="Name">Codice Coupon Multiplo</label>
            <input type="text" class="form-control" id="name" name="name" required/>
            <span class="bs red corner label"><i class="fa fa-asterisk"></i></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group form-group-default">
            <label for="description">Descrizione</label>
            ​<textarea id="description" rows="4" cols="90" name="description" ></textarea>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group form-group-default">
            <label for="startDate">Valido da</label>
            <span class="bs red corner label"><i class="fa fa-asterisk"></i></span>
            <input type="datetime-local" class="form-control" id="startDate" name="startDate" value="" required />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group form-group-default">
            <label for="endDate">Valido fino a</label>
            <span class="bs red corner label"><i class="fa fa-asterisk"></i></span>
            <input type="datetime-local" class="form-control" id="endDate" name="endDate" value="" required />
        </div>
    </div>
</div>