<div id="newAddressForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-default required">
                <label for="user_address_name">Nome</label>
                <input autocomplete="off" type="text"
                       id="user_address_name"
                       name="user_address_name"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default required">
                <label for="user_address_surname">Surname</label>
                <input autocomplete="off" type="text"
                       id="user_address_surname"
                       name="user_address_surname"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-default required">
                <label for="user_address_phone">Phone</label>
                <input autocomplete="off" type="text"
                       id="user_address_phone"
                       name="user_address_phone"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default selectize-enabled required">
                <label for="user_address_country">Paese</label>
                <select id="user_address_country"
                        name="user_address_country"
                        class="full-width selectpicker"
                        placeholder="Seleziona il Paese">
                </select>
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default required">
                <label for="user_address_address">Address</label>
                <input autocomplete="off" type="text"
                       id="user_address_address"
                       name="user_address_address"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label for="user_address_address2">Address2</label>
                <input autocomplete="off" type="text"
                       id="user_address_address2"
                       name="user_address_address2"
                       class="form-control">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default required">
                <label for="user_address_postcode">PostCode</label>
                <input autocomplete="off" type="text"
                       id="user_address_postcode"
                       name="user_address_postcode"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default required">
                <label for="user_address_province">Provincia</label>
                <input autocomplete="off" type="text"
                       id="user_address_province"
                       name="user_address_province"
                       class="form-control">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default required">
                <label for="user_address_city">City</label>
                <input autocomplete="off" type="text"
                       id="user_address_city"
                       name="user_address_city"
                       class="form-control"
                       required="required">
                <span class="bs red corner label"><i
                        class="fa fa-asterisk"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-form"
               id="formAddressSubmit">Invia</a>
        </div>
    </div>
</div>